html, body, #app, #app>div {
  height: 100%;
}

body{
  height:100%;
  background: url('./assets/bg.png') no-repeat fixed bottom;
  background-size: contain;
  background-color:rgba(0,0,0,0.55);
  animation: change 12s infinite;
}

@keyframes change{
  0% {background-image: url('./assets/bg.png')}
  50% {background-image: url('./assets/bgTransitionV2.png')}
}

.contents{
  height: 100%;
}

.App {
  text-align: center;
  margin:auto;
  opacity: 1;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#mapid { 
  height: 100%; 
  width: 100%;
}

.wrapper {
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-60%);
  width:100%
}

.input{
  width: 90%;
  font-size: 15px;
  margin-bottom: 10px;
  border-color:rgba(0,0,0,0.6);
  padding:4px;
  font-family: 'Boogaloo', cursive;
  font-weight:bold;
  font-size:25px;
}

.inputForm{
  margin:auto;
  width: 600px;
  text-align: center;
  padding-bottom:5px;
  border-style: solid;
  border-color: rgb(45, 47, 71);
  border-radius:10px;
  background-color: rgba(265,265,265, 0.5);
  /* padding: 20px; */
}

.login{
  margin:auto;
  text-align: center;
  border-style: solid;
  border-color: rgb(45, 47, 71);
  border-radius:10px;
  background-color: rgba(265,265,265, 0.5);
  width:600px;
  padding-bottom:5px;
}

.loginForm{
  width: 100%;
  font-size: 15px;
}

.signup{
  margin:auto;
  text-align: center;
  border-style: solid;
  border-color: rgb(45, 47, 71);
  width:40%;
  border-radius:10px;
  background-color: rgba(265,265,265, 0.5);
  padding-bottom:5px;
}

.inputHeader{
  font-variant: small-caps;
  font-size: 25px;
  color: whitesmoke;
  margin-top: 0;
  border-style: solid;
  border-color: rgb(45, 47, 71);
  height:35px;
  margin:auto;
  margin-bottom: 20px;
  margin-top:0;
  margin-left:0;
  border-radius:5px;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  background-color:rgb(45, 47, 71);
  font-family: 'Lacquer', sans-serif;
}

input[type=submit].buttons {
  margin:10px;
}

.searchResultsMajorDiv{
  margin:auto;
  border-style: solid;
  padding: 10px;
  height: 100%;
  width: 70%;
  margin-top: 80px;
  margin-bottom:20px;
  display: flex;
  flex: wrap;
  border-color:  rgb(45, 47, 71);
  border-radius:10px;
  /* background-color:rgba(245,245,245, 0.95); */
  background-color:rgba(62, 65, 99,0.75);
  flex-flow: column wrap;
  justify-content: space-around;
}

.searchResultsLists{
  display:flex;
}

.searchResults{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 0 10px 10px 10px;
  height: 30%;
  width: 44.5%;
  margin-top: 10px;
  border-radius:10px;
  background-color:rgba(245,245,245, 0.8);
}

.searchResultsBtns{
  margin:auto;
  text-align:center;
  flex-grow: 2;
  margin-top:20px;
  padding: 3px;
}

.buttons{
  margin:0 10px 10px 10px;
  font-size: 15px;
  border-radius:10px;
  padding:8px;
  /* font-variant: small-caps; */
  padding-top:10px;
  border-width:2px;
  border-color: rgb(45, 47, 71);
  font-weight:bold;
  font-family: 'Unica One';
  font-size:18px;
}

.buttons:focus{
  outline:none;
}

.buttons:hover{
  background-color:lightslategray;
  cursor:pointer;
}

.searchResultsHeader{
  float:top;
  margin:auto;
  margin-top:4px;
  width:96.5%;
  text-align:center;
  font-size: 20px;
  font-weight: bold;
  border-style: solid;
  border-color: rgb(45, 47, 71);
  border-radius:10px;
  padding: 0 10px 0 10px;
  background-color:rgba(245,245,245, 0.85);
  font-family: 'Lacquer', sans-serif;
}

div.resultLineItem{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 0 0 15px;
  width: 99%;
  height: 65px;
  margin-top: 10px;
  border-color:  rgb(45, 47, 71);
  border-radius:10px;
  background-color:rgba(245,245,245, 0.85);
  font-family: 'Boogaloo';
  font-size:23px;
}

.resultLineItem:hover{
  background-color:lightslategray;
  cursor:pointer;
}

.selectedLineItem{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 0 0 15px;
  width: 99%;
  height: 65px;
  margin-top: 10px;
  background-color: rgb(106, 204, 109);
  color: whitesmoke;
  border-color:  rgb(45, 47, 71);
  border-radius:10px;
  font-family: 'Boogaloo';
  font-size:23px;
}

.window{
  margin:auto;
  height: 90%;
  width: 90%;
}

.nav-box{
  border-bottom-style: solid;
  position: fixed;
  width:100%;
  height:70px;
  top:0;
  left: 0;
  border-color: rgba(35,37,56,0.9);
  background-color:rgb(45, 47, 71);
  z-index: 1;
}

.navBtns{
  background: linear-gradient(0deg, #5c6bc0  15%, rgb(220, 220, 255) 100%);
  font-weight:bold !important;
  padding-top:8px !important;
  top: 45px;
  font-family: 'Unica One' !important;
  font-size:20px !important;
}

.navBtns:hover{
  background:white !important;
}

.profileBtn{
  background: linear-gradient(0deg, rgb(25,25,112)  15%, rgb(125,125,212) 100%);
  color:white !important; 
  font-weight:bold !important;
  top:45px;
  font-family: 'Unica One' !important;
  font-size:20px !important;
}

.profileBtn:hover{
  background:white !important;
  color:black !important; 
}

.linkTo{
  margin-top: -2.35%;
  margin-right: 1%;
  float:right;
  text-decoration: none;
}

.disabledLinkTo{
  margin-top: -2.35%;
  margin-right: 1%;
  float:right;
  text-decoration: none;
}

.disabledLinkTo:hover{
  cursor: default;
}

.queriesPage {
  margin:auto;
  border-style: solid;
  padding: 5px;
  height: 90%;
  width: 70%;
  margin-top: 85px;
  margin-bottom:20px;
  text-align: center;
  border-color: rgb(45, 47, 71);
  border-radius: 10px;
  background-color:rgba(62, 65, 99,0.9);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction:column;
}

.venueListsHeaders{
  margin: 0 0 15px 0;
  font-family: 'Lacquer', sans-serif;
}

.savedVenues{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 10px 0 15px 0;
  height: 30%;
  width: 48.5%;
  margin-top: 10px;
  border-radius:10px;
  background-color:rgba(245,245,245, 0.85);
  margin-bottom: 15px;
  float: left;
}

.recommendedList {
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 10px 0 10px 0;
  height: 30%;
  width: 48.5%;
  margin-top: 10px;
  border-radius:10px;
  background-color:rgba(245,245,245, 0.85);
  margin-bottom: 15px;
  float: right;
}

.queryLineItem{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 11px 0 0 0;
  width: 90%;
  height: 50px;
  /* margin-top: 5px; */
  margin-bottom:10px;
  border-color:  rgb(45, 47, 71);
  border-radius:10px;
  background-color:rgba(245,245,245, 0.95);
  font-family: 'Boogaloo', cursive;
  font-size: 25px;
}

.queryLineItem:hover{
  background-color:lightslategray;
  cursor:pointer;
}

.savedRecommendedLists{
  display: flex;
  flex-direction: row;
}

.queryPageBtn{
  float:bottom;
}

.infoCardBorder{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 20px;
  height: 640px;
  width: 1000px;
  margin-top:16px;
  margin-bottom:10px;
  border-color:  rgb(45, 47, 71);
  border-radius:10px;
  background-color:rgba(62, 65, 99,0.95);
}

.infoCardVenueName{
  margin: 2px 0 1px 0;
}

.infoCard{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 15px;
  border-radius:10px;
  /* background-color:rgba(245,245,245, 0.75); */
  background-color:rgb(37,33,41);
  font-weight: bold;
  font-family: 'segoe ui', fantasy;
  font-size:14px;
}

.venueNameLocation{
  margin:auto;
  margin-bottom: 10px;
  text-align: center;
  border-style: solid;
  padding: 10px;
  border-color:  rgb(45, 47, 71);
  border-radius:10px;
  background-color:rgba(245,245,245, 0.9);
  
}

.venueCategRating{
  margin:auto;
  margin-bottom: 5px;
  text-align: center;
  border-style: solid;
  padding: 8px;
  border-color:  rgb(45, 47, 71);
  border-radius:10px;
  background-color:rgba(245,245,245, 0.9);
}

.venueDesc{
  margin:auto;
  margin-bottom: 5px;
  text-align: center;
  border-style: solid;
  padding: 8px;
  border-color:  rgb(45, 47, 71);
  border-radius:10px;
  background-color:rgba(245,245,245, 0.9);
  font-weight: bold;
}

.venueInfo{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 8px;
  border-color:  rgb(45, 47, 71);
  border-radius:10px;
  background-color:rgba(245,245,245, 0.9);
}

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 120px;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.7);  
}  

.popup\_inner {  
  position: fixed;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 10px;  
  height:100%;
}

.error_popup_inner{
  position: fixed;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  background-color:rgb(245,175,175);
  width: 35%;
  height: 28%;
  /* min-height:auto;  */
  flex-direction: column;
  text-align:center;
  border-style: solid;
  border-radius:10px;
  border-color: red;
  padding-bottom:0;
}

.error {
  font-size: 25px;
  font-weight:bold;
  font-family: 'Boogaloo';
  margin: 0 0 15px 0;
}

.errorHeading{
  color:white; 
  background-color: red;
  margin-top:0;
  padding-bottom:5px;
  border-radius:5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-family: 'Lacquer', sans-serif;
}

.logout_popup_inner{
  position: fixed;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  background-color:rgb(200,200,200);
  width: 20%;
  height: 15%;
  padding: 0px 25px 25px 25px;
  text-align:center;
  border-style: solid;
  border-radius:10px;
  border-color: rgb(45, 47, 71);
  font-weight:bold;
}

.logout {
  font-size: 25px;
  font-weight:bold;
  font-family: 'Boogaloo';
}

.profilePage{
  margin:auto;
  border-style: solid;
  padding: 5px;
  width: 60%;
  text-align: center;
  border-color:  rgb(45, 47, 71);
  border-radius:10px;
  background-color:rgba(62, 65, 99,0.9);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.profile{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 15px;
  width:25%;
  margin-top: 10px;
  border-radius:10px;
  background-color:rgba(245,245,245, 0.95);
  margin-bottom: 15px;
  flex: left;
  height:255px;
  font-family: 'Unica One';
}

.profileVenues{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 5px 0 10px 0;
  min-height: 235px;
  width: 66%;
  margin-top: 10px;
  border-radius:10px;
  background-color:rgba(245,245,245, 0.75);
  margin-bottom: 15px;
  flex:right;
}

.profileVenuesLineItem{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding-top:3px;
  padding-bottom:4px;
  width: 90%;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-color:  rgb(45, 47, 71);
  border-radius:10px;
  background-color:rgba(245,245,245, 0.95);
  font-family: 'Boogaloo', cursive;
  font-size: 20px;
}

.profileVenuesLineItem:hover{
  background-color: lightslategray;
  cursor:pointer;
}

.profileVenuesHeader{
  font-size: 25px;
  font-weight: bold;
  margin: 5px 0 10px 0;
  font-family: 'Lacquer', sans-serif;
  font-variant: small-caps;

}

.profilepic{
  margin: 0 0 10px 0;
  border-style:solid;
  border-radius:10px;
}

.username{
  margin: 0 0 15px 0;
  font-size: 35px;
  font-weight: bold;
}

.map{
  margin:auto;
}

.mapContainer{
  height:100%;
  width:100%;
  margin-top:4%;
}

.mapBtn {
  position: absolute;
  display: block;
  top: 17%;
  left: 5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 15px;
  border-radius:10px;
  padding:8px;
  font-variant: small-caps;
  border-width:2px;
  border-color: rgb(45, 47, 71);
  font-weight:bold;
  font-family: 'Unica One';
  font-size:25px;
}

.mapBtn:hover{
  background-color:lightslategray;
  cursor:pointer;
}

.mapBtn:focus{
  outline:none;
}

.titleRed{
  color: red;
}

.titleWhite{
  color: white;
}

.title{
  position: absolute;
  left: 6px;
  margin: 0.75% 0 0 6%;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 30px;
}

.title:hover{
  cursor:default;
}

.logo{
  margin-top:0.9%;
  margin-left:1%;
  float:left;
}

.disabledLogo{
  margin-top:0.9%;
  margin-left:1%;
  float:left;
}

.disabledLogo:hover{
  cursor: default;
}