html, body, #app, #app>div {
  height: 100%;
}

body{
  height:100%;
  background: url('./assets/bg.png') no-repeat fixed bottom;
  background-size: contain;
}

.contents{
  height: 100%;
}

.App {
  text-align: center;
  margin:auto;
  opacity: 1;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#mapid { 
  height: 100%; 
  width: 100%;
}

.wrapper {
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:100%
}

.input{
  width: 90%;
  font-size: 15px;
  margin-bottom: 10px;
}

.inputForm{
  margin:auto;
  width: 600px;
  text-align: center;
  border-style: solid;
  border-color: rgb(150,100,75);
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
  /* padding: 20px; */
}

.login{
  margin:auto;
  text-align: center;
  border-style: solid;
  border-color: rgb(150,100,75);
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
  width:600px;
  /* padding: 20px; */
  /* box-shadow: 20px 20px rgb(150,100,75) */
}

.loginForm{
  width: 100%;
  font-size: 15px;
}

.signup{
  margin:auto;
  text-align: center;
  border-style: solid;
  border-color: rgb(150,100,75);
  width:90%;
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
  /* padding: 0 20px 20px 20px; */
}

.inputHeader{
  font-variant: small-caps;
  font-size: 25px;
  color: whitesmoke;
  margin-top: 0;
  border-style: solid;
  border-color: rgb(150,100,75);
  height:35px;
  margin:auto;
  margin-bottom: 20px;
  margin-top:0;
  margin-left:0;
  border-radius:10px;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  background-color:rgb(150,100,75);
}

.didyoumean{
  font-weight: bold;
  margin-bottom: 25px;
  font-variant: small-caps;
}

input[type=submit].buttons {
  margin:10px;
}

.searchResultsMajorDiv{
  margin:auto;
  /* text-align: center; */
  border-style: solid;
  padding: 20px;
  height: 100%;
  width: 70%;
  margin-top: 80px;
  margin-bottom:20px;
  display: flex;
  flex: wrap;

  border-color:  rgb(150,100,75);
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);

  flex-flow: row wrap;
  justify-content: space-around;
}

.searchResults{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 20px;
  height: 30%;
  width: 40%;
  margin-top: 10px;
  border-radius:15px;
  background-color:rgba(245,245,220, 0.5);
}

.searchResultsBtns{
  margin:auto;
  text-align:center;
  flex-grow: 2;
  margin-top:20px;
  padding: 3px;
}

.buttons{
  margin:0 10px 10px 10px;
  font-size: 15px;
  border-radius:10px;
  padding:8px;
  font-variant: small-caps;
  border-width:2px;
  border-color: rgb(150,100,75)
}

.resultLineItem{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 20px;
  width: 90%;
  height: 65px;
  margin-top: 10px;

  border-color:  rgb(150,100,75);
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
}

.selectedLineItem{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 20px;
  width: 90%;
  height: 65px;
  margin-top: 10px;
  background-color: black;
  color: whitesmoke;
  border-color:  rgb(150,100,75);
  border-radius:15px;
}

.window{
  margin:auto;
  height: 90%;
  width: 90%;
}

.nav-box{
  border-bottom-style: solid;
  position: fixed;
  width:100%;
  height:57px;
  top:0;
  left: 0;
  border-color:  rgb(150,100,75);
  /* border-radius:15px; */
  background-color:rgb(245,245,220);

  /* border-style: solid;
  position: fixed;
  width:90%;
  height:5%;
  top:1%;
  border-color:  rgb(150,100,75);
  border-radius:15px;
  background-color:rgb(245,245,220); */
}

.logo{
  margin-top:1.1%;
  margin-left:1%;
  float:left;
}

.linkTo{
  margin-top:0.7%;
  margin-right: 1%;
  float:right;
  text-decoration: none;
}

.queriesPage {
  /* margin:auto;
  text-align: center;
  border-style: solid;
  padding: 20px;
  height: 90%;
  width: 70%;
  margin-top: 10px;
  display: flex; */

  margin:auto;
  border-style: solid;
  padding: 20px;
  height: 90%;
  width: 70%;
  margin-top: 100px;
  text-align: center;
  border-color:  rgb(150,100,75);
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction:column;
}

.savedVenues{
  float:left;
}

.savedVenues{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 30px;
  height: 30%;
  width: 40%;
  margin-top: 10px;
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
  margin-bottom: 15px;
  float: left;
}

.recommendedList {
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 30px;
  height: 30%;
  width: 40%;
  margin-top: 10px;
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
  margin-bottom: 15px;
  float: right;
}

.queryLineItem{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 20px;
  width: 90%;
  height: 70px;;
  margin-top: 10px;
  border-color:  rgb(150,100,75);
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
}

.savedRecommendedLists{
  display: flex;
  flex-direction: row;
}

.queryPageBtn{
  float:bottom;
}

.infoCardBorder{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 20px;
  height: 700px;
  width: 1000px;
  border-color:  rgb(150,100,75);
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
}

.infoCard{
  margin:auto;
  margin-bottom:15px;
  text-align: center;
  border-style: solid;
  padding: 20px;
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
  font-weight: bold;
}

.venueNameLocation{
  margin:auto;
  margin-bottom: 15px;
  text-align: center;
  border-style: solid;
  padding: 15px;
  border-color:  rgb(150,100,75);
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
  
}

.venueCategRating{
  margin:auto;
  margin-bottom: 5px;
  text-align: center;
  border-style: solid;
  padding: 10px;
  border-color:  rgb(150,100,75);
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
}

.venueDesc{
  margin:auto;
  margin-bottom: 5px;
  text-align: center;
  border-style: solid;
  padding: 10px;
  border-color:  rgb(150,100,75);
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
  font-weight: normal;
}

.venueInfo{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 10px;
  border-color:  rgb(150,100,75);
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
}

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.7);  
}  

.popup\_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
}

.error_popup_inner{
  position: fixed;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background-color:rgb(245,245,220);
  width: 35%;
  height: 25%;
  /* min-height:auto;  */
  flex-direction: column;
  text-align:center;
  border-style: solid;
  border-radius:15px;
  border-color: black;
  padding-bottom:10px;
}

.error {
  font-size: 25px;
}

.errorHeading{
  color:red; 
  border-style:solid;
  border-color:black;
  background-color: black;
  margin-top:0;
  border-radius:10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.logout_popup_inner{
  position: fixed;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background-color:rgb(245,245,220);
  width: 20%;
  height: 15%;
  padding: 0px 25px 25px 25px;
  /* min-height:auto;  */
  text-align:center;
  border-style: solid;
  border-radius:15px;
  border-color: #6F5B3E;
  font-weight:bold;
}

.profilePage{
  margin:auto;
  border-style: solid;
  padding: 20px;
  height: 90%;
  width: 50%;
  margin-top: 100px;
  text-align: center;
  border-color:  rgb(150,100,75);
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction:column;
}

.profile{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 30px;
  height: 30%;
  width: 30%;
  margin-top: 10px;
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
  margin-bottom: 15px;
}

.profileVenues{
  margin:auto;
  text-align: center;
  border-style: solid;
  padding: 30px;
  height: 30%;
  width: 30%;
  margin-top: 10px;
  border-radius:15px;
  background-color:rgba(245,245,220, 0.95);
  margin-bottom: 15px;
}